.orders {
    margin-top: 17.5px;
}

.container {
    display: flex;
    justify-content: space-between;
} 

.ordersContainer {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}